<p>event works!</p>
<div *ngIf="eventData">
    <h2>{{ eventData.eventName }}</h2>
    <p><strong>Location:</strong> {{ eventData.eventLocation }}</p>
    <p><strong>Date:</strong> {{ eventData.eventDate }}</p>
    <p><strong>Time:</strong> {{ eventData.eventTime }}</p>
    <p><strong>Code:</strong> {{ eventData.eventCode }}</p>

    <!-- buy tickets button navigate to booking component-->
    <button class="btn btn-primary" [routerLink]="['/buy-tickets', eventData.eventId]">Buy Tickets</button>
</div>
<div *ngIf="!eventData">
    <p>Loading event details...</p>
</div>