<div class="container">
    <h3 class="mb-4 pt-4">On Going Events</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        @for(item of eventList; track $index){
            <div class="col">
                <div class="card h-100" [style.background-color]="getCardColor($index)">
                    <div class="card-header text-center py-4">
                        <i class="fas fa-calendar-alt fa-3x"></i>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-center">{{item.eventName}}</h5>
                        <p class="card-text text-center">{{item.eventDate}} | {{item.eventTime}}</p>
                        <a [routerLink]="['/event/',item.eventId]" class="btn btn-primary mt-auto">Buy Tickets</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>