<!-- welcome container -->
<div class="container text-center p-5">
    <h1>Welcome to</h1>
    <h1>VENTIX</h1>
    <p>Real-Time Event Ticketing System</p>
</div>

<!-- cards for vendor and customer -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Sell Tickets</h5>
                    <p class="card-text text-center">Easily list your events and manage ticket sales in real time. 
                        Reach more customers with seamless ticketing.
                    </p>
                    <div class="text-center">
                        <a routerLink="/add-tickets" class="btn btn-primary">Add Tickets</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Buy Tickets</h5>
                    <p class="card-text text-center">Discover and secure tickets for your favorite events instantly. 
                        Experience a hassle-free purchase process</p>
                    <div class="text-center">
                        <a routerLink="/event-page" class="btn btn-primary">Select the Event</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>